body {
background: black;
color: white;
font-family: Arial;
text-align: center;
}

.toolbar {
padding: 10px;
background: #111;
}

input, select, button {
margin: 5px;
padding: 8px;
font-size: 14px;
}

canvas {
border: 1px solid white;
margin-top: 20px;
background: black;
}

#emojiPanel {
display: none;
height: 150px;
overflow-y: scroll;
background: #222;
padding: 10px;
}

.emoji {
font-size: 22px;
cursor: pointer;
margin: 4px;
}
