body {
  font-family: Arial;
  background: #111;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

h1 {
  margin: 20px;
}

.container {
  display: flex;
  gap: 30px;
}

canvas {
  border: 4px solid white;
  border-radius: 15px;
  background: #000;
}

.right {
  width: 250px;
  display: flex;
  flex-direction: column;
}

input, select, button {
  margin: 8px 0;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

button {
  background: #ff4081;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #e91e63;
}

.emoji-panel {
  display: none;
  height: 150px;
  overflow-y: scroll;
  background: #222;
  padding: 5px;
  border-radius: 10px;
  margin-top: 5px;
}

.emoji-panel button {
  font-family: "Apple Color Emoji","Segoe UI Emoji","Noto Color Emoji",sans-serif;
  font-size: 26px;
  background: none;
  border: none;
  cursor: pointer;
}
