body {
  margin: 0;
  background: black;
  font-family: Arial;
  color: white;
}

.topbar {
  padding: 10px;
  background: #111;
  display: flex;
  gap: 10px;
}

.topbar input,
.topbar select,
.topbar button {
  padding: 8px;
  border-radius: 6px;
  border: none;
}

button {
  background: hotpink;
  color: white;
  cursor: pointer;
}

.main {
  display: flex;
  height: calc(100vh - 60px);
}

#emojiPanel {
  width: 200px;
  background: #111;
  overflow-y: scroll;
  display: none;
  padding: 10px;
  font-size: 28px;
}

#canvas {
  margin: auto;
  background: black;
  border: 5px solid white;
  border-radius: 20px;
}
